<div class="shoes">

    {{#each shoes}}
    <div class="shoe" >
        <img src="{{imageUrl}}">
        <h3>{{brand}} {{name}}</h3>
        <a href="#/details/{{key}}">Buy it for ${{price}}</a>
    </div>
    {{/each}}
    
    
</div>